#etapa1 {
  display: none;
}

#menuGeral {
  display: none;
}

#migração {
  display: none;
}

#acomp {
  display: none;
}

fieldset {
  width: 55%;
}

input[type="text"],
textarea {
  background-color: #d1d1d1;
}

input[type="number"],
textarea {
  background-color: #d1d1d1;
}

.form-control {
  background-color: #d1d1d1;
}

.modal-content {
  color: #000 !important;
  background-color: #d1d1d1;
}

.card {
  background-color: #d1d1d1;
}

#tecnologico-value {
  font-size: 25px;
  margin-left: 24%;
  letter-spacing: 3px;
}

#comprometido-value {
  font-size: 25px;
  margin-left: 21%;
  letter-spacing: 3px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #dcb678;
}

.nav-link {
  font-weight: 600;
  color: #fff;
}

.nav-link:hover {
  color: #c1c1c1;
}

body {
  background-color: #e2e2e2;
}

.toogle-sun-moon {
  position: absolute;
  right: 80px;
  top: 50%;
}

#toggle_checkbox {
  display: none;
}

.label-darkmode-add {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 70px;
  height: 30px;
  margin: 0 auto;
  background-color: #77b5fe;
  border-radius: 56px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s ease background-color;
  overflow: hidden;
}

#star {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: #fafd0f;
  transform: scale(1);
  border-radius: 50%;
  transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform,
    0.3s ease background-color;
  z-index: 1;
}

#star-1 {
  position: relative;
}

#star-2 {
  position: absolute;
  transform: rotateZ(36deg);
}

.star {
  top: -8.4px;
  left: -2.6px;
  font-size: 25px;
  line-height: 28px;
  color: #fafd0f;
  transition: 0.3s ease color;
}

#moon {
  position: absolute;
  bottom: -52px;
  right: 8px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s ease bottom;
}

#moon:before {
  content: "";
  position: absolute;
  top: -8px;
  left: -21px;
  width: 40px;
  height: 40px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + .label-darkmode-add {
  background-color: #000;
}

#toggle_checkbox:checked + .label-darkmode-add #star {
  top: 3px;
  left: 66px;
  transform: scale(0.3);
  background-color: yellow;
}

#toggle_checkbox:checked + .label-darkmode-add .star {
  color: yellow;
}

#toggle_checkbox:checked + .label-darkmode-add #moon {
  bottom: 3px;
}

#toggle_checkbox:checked + .label-darkmode-add #moon:before {
  background-color: #000;
}

/* .robot {
  background: url(./images/robot_cloud.png) no-repeat;
  background-size: 500px;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 180px;
  left: 53.7vw;
} */

/* .text-robot {
  width: 277px;
  height: 109px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 90px;
  left: 131px;
} */

/* @media (max-width: 767px) {
  .robot {
    display: none;
  }
} */

/* .line {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: #000;
  font-family: "Special Elite", monospace;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
} */

/* .typing-animation {
  animation: blinkCursor 500ms steps(20) infinite normal,
    typing 4s steps(20) 1s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 10em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: #000;
  }

  to {
    border-right-color: transparent;
  }
} */

/* .img-back img {
  filter: blur(4px);
  z-index: -999;
} */

/* .text-home h1 {
  text-align: center;
}

.text-home {
  margin: 20px;
  padding-top: 10vh;
  position: absolute;
  width: 50vw;
  height: 90vh;
  z-index: 1;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
} */
