/* #etapa1 {
  display: none;
}

#menuGeral {
  display: none;
}

#migração {
  display: none;
} */

#acomp {
  display: none;
}

fieldset {
  width: 55%;
  
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #dcb678;
}

.nav-link {
  font-weight: 600;
  color: #fff;
}

.nav-link:hover {
  color: #c1c1c1;
}

body {
  background-color: #e2e2e2;
  
}
